@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}