.right-panel,
.new-posts {
    display: flex;
    flex-direction: column;
}

.new-posts-title,
.new-post-title {
    font-family: OpenSans-Bold;
    text-transform: uppercase;
}

.new-posts-title {
    margin-bottom: 40px;
    position: relative;
    font-size: 1.8vw;
    align-self: center;
}

.new-posts-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    right: 0;
    margin: -15px auto;
}

.new-post {
    display: flex;
}

.new-post-photo {
    margin-right: 20px;
}

.new-post-img {
    margin-right: 20px;
}

.new-post-time {
    color: grey;
}

.new-post-title {
    text-transform: uppercase;
    font-family: OpenSans-Bold;
    overflow: hidden;
    margin-top: 0;
}

@media screen and (min-width:1200px) {
    .right-panel {
        width: 20%;
        margin-left: 5%;
    }
    .new-posts-title,
    .new-post-title {
        font-size: 0.8vw;
    }
    .new-post:nth-child(n + 2) {
        margin-bottom: 20px;
    }
    .new-post:last-child {
        margin-bottom: 60px;
    }
    .new-post-photo {
        width: 15vw;
        min-width: 70px;
        max-width: 110px;
    }
    .new-post-img {
        width: 100%;
    }
    .new-post-info {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .new-post-time {
        font-size: 0.8vw;
    }
    .new-post-title {
        font-size: 0.8vw;
        width: 100%;
    }
}

@media screen and (min-width:641px) and (max-width:1199px) {
    .right-panel {
        width: 50%;
    }
    .new-post {
        margin-right: auto;
    }
    .new-post:nth-child(n + 2) {
        margin-bottom: 20px;
    }
    .new-post:last-child {
        margin-bottom: 60px;
    }
    .new-post-photo {
        width: 10vw;
    }
    .new-post-img {
        width: 10vw;
    }
    .new-post-time {
        font-size: 1.7vw;
    }
    .new-post-title {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.8vw;
    }
}

@media screen and (max-width:640px) {
    .new-posts-title,
    .new-post-title {
        font-size: 3.8vw;
        line-height: 5vw;
    }
    .new-post-title {
        margin: 0;
    }
    .new-post {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .new-post:last-child {
        margin-bottom: 60px;
    }
    .new-post-photo {
        width: 20vw;
    }
    .new-post-img {
        width: 20vw;
    }
}