.tags {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-top: 40px;
}

.tags>h4 {
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    position: relative;
    align-self: center;
    margin-bottom: 30px;
    font-size: 1.8vw;
}

.tags>h4::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    right: 0;
    display: block;
    margin: -15px auto
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 30px;
}

.tag-container li {
    height: 30px;
    box-sizing: border-box;
    align-items: center;
}

.tag-container a {
    text-decoration: none;
    color: #000;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    border: 3px solid #eee;
    padding: 5px 10px
}

.tag-container a:hover {
    border: 3px solid #b59f5b
}

.tag-container>a {
    text-decoration: none;
    margin: auto
}

.tag-container>a:visited,
.tag-container>a:active {
    color: #000
}

@media screen and (min-width:1200px) {
    .tags>h4 {
        font-size: 0.8vw;
    }
    .tag-container li {
        margin: 7px 0 0 5px;
    }
    .tag-container a {
        font-size: 0.7vw;
    }
}

@media screen and (min-width:641px) and (max-width:1199px) {
    .tag-container a {
        font-size: 1.6vw;
    }
    .tag-container li {
        margin: 1.2vw 0 0 5px;
    }
}

@media screen and (max-width:640px) {
    .tags {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .tags>h4 {
        font-size: 4vw;
    }
    .tag-container li {
        margin: 6px 0 0 5px
    }
    .tag-container a {
        font-size: 3.3vw;
    }
}

@media screen and (max-width:640px) and (orientation:landscape) {
    .tag-container a {
        padding: 0px 10px
    }
}