.trends-title {
    display: flex;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    justify-content: center;
}

.trends {
    display: flex;
}

.trends-title::after {
    content: "";
    position: absolute;
    left: 0;
    width: 65px;
    height: 3px;
    background-color: #e1d9bd;
    right: 0;
    margin: -15px auto;
}

.trend {
    display: flex;
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    align-content: flex-end;
    align-items: flex-end;
    z-index: 2;
}

.trend::after {
    content: "";
    background-color: #000;
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.trend-img {
    width: 100%;
}

.trend-content {
    position: absolute;
    width: 85%;
    border: 3px solid #b59f5b;
    padding: 7% 4%;
    left: 7.5%;
    z-index: 3;
    bottom: 20px;
}

.trend-title,
.trend-keywords {
    font-family: OpenSans-Bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

.trend-keyword-link {
    color: #b59f5b;
    padding-right: 20px;
}

.trend-title-link {
    color: #FFF;
}

.trend-keywords {
    margin-bottom: 10px;
}

@media screen and (min-width:1200px) {
    .trends-title {
        position: relative;
        margin: auto;
        height: 60px;
        font-size: 20px;
    }
    .trends-title::after {
        bottom: 40px;
    }
    .trends {
        flex-wrap: nowrap;
    }
    .trend:last-child {
        margin-right: 0px;
    }
    .trend {
        width: 25%;
        margin: 0;
        margin-right: 5px;
    }
    .trend-title,
    .trend-keywords {
        font-size: 1vw;
    }
}

@media screen and (min-width:641px) and (max-width:1199px) {
    .trends-title {
        position: relative;
        height: 50px;
        margin-bottom: 40px;
        font-size: 20px;
    }
    .trends-section {
        margin-top: 20px;
    }
    .trends {
        flex-wrap: wrap;
    }
    .trends-title::after {
        bottom: 20px;
    }
    .trend {
        width: 49%;
        margin-bottom: 5px;
        justify-content: center;
    }
    .trend:nth-child(odd) {
        margin-right: 5px;
    }
    .trend-title,
    .trend-keywords {
        font-size: 2vw;
    }
}

@media screen and (max-width:640px) {
    .trends-section {
        margin-top: 50px;
    }
    .trends-title {
        font-size: 4vw;
        height: 50px;
        margin-bottom: 30px;
    }
    .trends {
        flex-direction: column;
    }
    .trends-title::after {
        bottom: -80px;
    }
    .trend:last-child {
        margin-bottom: 40px;
    }
    .trend {
        margin-bottom: 5px;
        justify-content: center;
        z-index: 2;
    }
    .trend-keyword-link {
        font-size: 3.7vw;
    }
    .trend-title {
        font-size: 4vw;
    }
}

@media screen and (max-width:640px) and (orientation:landscape) {
    .trends-title {
        position: relative;
        height: 50px;
        margin-bottom: 40px;
        font-size: 20px;
    }
    .trends-section {
        margin-top: 20px;
    }
    .trends {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .trends-title::after {
        bottom: 20px;
    }
    .trend:last-child {
        margin-bottom: 5px;
    }
    .trend {
        width: 49%;
        margin-bottom: 5px;
        justify-content: center;
    }
    .trend:nth-child(odd) {
        margin-right: 5px;
    }
    .trend-title {
        font-size: 2vw;
    }
    .trend-keyword-link {
        font-size: 3vw;
    }
}